<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chapter05.Chapter05DeptMapper">

    <!-- 一个部门对应多名员工：用 collection 封装 emps 集合。 -->
    <resultMap id="deptWithEmpsMap" type="com.entity.Dept">
        <id property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <collection property="emps" ofType="com.entity.Emp">
            <id property="empno" column="empno"/>
            <result property="ename" column="ename"/>
            <result property="job" column="job"/>
            <result property="mgr" column="mgr"/>
            <result property="hiredate" column="hiredate"/>
            <result property="sal" column="sal"/>
            <result property="comm" column="comm"/>
            <result property="deptno" column="emp_deptno"/>
        </collection>
    </resultMap>

    <select id="one2manyByXml" parameterType="int" resultMap="deptWithEmpsMap">
        SELECT d.deptno, d.dname, d.loc,
               e.empno, e.ename, e.job, e.mgr, e.hiredate, e.sal, e.comm,
               e.deptno AS emp_deptno
        FROM dept d
        LEFT JOIN emp e ON d.deptno = e.deptno
        WHERE d.deptno = #{deptno}
        ORDER BY e.empno
    </select>
</mapper>
